<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="from" value="Mexico City"></parameter>
<parameter name="to" value="London"></parameter>
  <test thread-count="5" name="Test">
  <classes>
  <class name="org.sample.LogicSample"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
